name: For build/test/docker on all branches
env:
  DOCKER_REGISTRY: ghcr.io/${{ github.repository_owner }}
  IMAGE_NAME: mcp-zap-server
on:
  pull_request:
    types: [ opened, reopened, synchronize, edited ]
    branches: [ "main" ]
  push:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Gradle
      run: ./gradlew build --scan --no-daemon --stacktrace --info

    - name: Generate SBOM with CycloneDX
      run: ./gradlew cyclonedxBom

    - name: Upload SBOM artifact
      uses: actions/upload-artifact@v4
      with:
        name: bom.json
        path: build/reports/cyclonedx-direct/bom.json

    - name: Get short SHA from long commit SHA for image tagging
      id: build-tag
      run: echo "build_number=$(git rev-parse --short ${{ github.sha }})" >> "$GITHUB_OUTPUT"

    - name: Log in to GitHub Container Registry
      if: github.actor != 'dependabot[bot]'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}

    - name: Login to Docker Hub
      if: github.actor != 'dependabot[bot]'
      uses: docker/login-action@v3
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push mcp-zap-server image to registry
      if: github.actor != 'dependabot[bot]'
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        platforms: linux/amd64, linux/arm64
        tags: |
          ${{ env.DOCKER_REGISTRY }}/${{env.IMAGE_NAME}}:${{ steps.build-tag.outputs.build_number }}
          ${{ github.repository_owner }}/${{env.IMAGE_NAME}}:${{ steps.build-tag.outputs.build_number }}
